<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {{ download_btn.script() }}
    </head>
    <body>
        <form>
            <div id="selectFiles" name="selectFiles">
                <p>Select files to download.</p>
                <div class="form-check">
                    <input id="helloWorld" name="selectFiles" type="checkbox" class="form-check-input" value="hello_world.txt">
                    <label class="form-check-label" for="helloWorld">Hello World</label>
                </div>
                <div class="form-check">
                    <input id="helloMoon" name="selectFiles" type="checkbox" class="form-check-input" value="hello_moon.txt">
                    <label class="form-check-label" for="helloMoon">Hello Moon</label>
                </div>
            </div>
        </form>
        {{ download_btn.btn.render() }}
        {{ download_btn.render_progress() }}
    </body>
</html>