<html>
    <head>
        <!-- 1. Include Bootstrap CSS and Javascript -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- 2. Include download button script -->
        {{ download_btn.script() }}
    </head>
    <body>
        <!-- 3. Render the download button and progress bar -->
        {{ download_btn.render_btn() }}
        {{ download_btn.render_progress() }}
    </body>
</html>