<script id="{{ btn.get_id('script') }}">
    /* Download button script

    The download process has three stages:
    1. Web form handling
    2. File creation
    3. Download
    */
    $(document).ready(function(){
        function handle_form(){
            const form_url = "{{ url_for('download_btn.handle_form', **btn_kwargs) }}";
            $.post(form_url, $("{{ btn._form }}").serialize(), function(){
                create_files();
            });
        }

        function create_files(){
            /* Listen for server sent progress updates
            
            Updates may reset the progress bar, report progress, or indicate 
            that files are ready to download.
            */
            const evtURL = "{{ url_for('download_btn.create_files', **btn_kwargs) }}";
            const evtSource = new EventSource(evtURL);
            evtSource.addEventListener("reset", function(e){
                reset_progress(event_args(e));
            })
            evtSource.addEventListener("progress_report", function(e){
                report_progress(event_args(e));
            });
            evtSource.addEventListener("transition_speed", function(e){
                transition_speed(event_args(e));
            })
            evtSource.addEventListener("download_ready", function(e){
                evtSource.close();
                download(event_args(e));
            });
        }

        function event_args(e){
            // Get event arguments
            var progress = $("#{{ btn.get_id('progress') }}");
            var progress_bar = $("#{{ btn.get_id('progress-bar') }}");
            var data = $.parseJSON(e.data);
            return {
                'progress': progress, 'progress_bar': progress_bar, 'data': data
            };
        }

        function transition_speed(e){
            // Update the progress bar transition speed
            e.progress_bar.css('transition', 'width '+e.data.speed);
        }

        function reset_progress(e){
            // Reset the progress bar
            e.progress.html(e.data.html);
            show_bar(e.progress);
        }

        function report_progress(e){
            // Update the progress bar with a progress report
            $("#{{ btn.get_id('progress-txt') }}").text(e.data.text);
            show_bar(e.progress);
            e.progress_bar.width(e.data.pct_complete+"%");
        }

        function show_bar(progress){
            if (progress.is(":hidden")){
                progress.show();
            }
        }

        function download(e){
            // Initial download function
            if (e.data.downloads.length == 0){
                return reset_btn(e);
            }
            e.i = 0;
            _download(e);
        }

        function _download(e){
            // Recursively download files
            downloads = e.data.downloads;
            fetch(downloads[e.i].url, {cache: e.data.cache})
                .then(resp => resp.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.style.display = "none";
                    a.href = url;
                    a.download = downloads[e.i].filename;
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                    if (e.i == downloads.length-1){
                        reset_btn(e);
                    }
                    else{
                        e.i++;
                        _download(e);
                    }
                })
        }

        function reset_btn(e){
            // Reset download button
            $.post("{{ url_for('download_btn.downloaded', **btn_kwargs) }}");
            if (e.data.text != ''){
                report_progress(e);
            }
            setTimeout(function(){ e.progress.hide(); }, 1000);
            if (e.data.callback !== null){
                window.location.replace(e.data.callback);
            }
            else {
                $("#{{ btn.get_id('btn') }}").prop('disabled', false);
            }
            console.log('Download complete');
        }

        $("#{{ btn.get_id('btn') }}").click(function(){
            console.log('Download started');
            $(this).prop('disabled', true);
            handle_form();
        });
    });
</script>