<script>
    $(document).ready(function(){
        $("#{{ btn.model_id }}").click(function(){
            console.log('Download started');
            $(this).prop('disabled', true);
            $("#{{ btn.progress_model_id }}").show();
            const evtURL = "{{ url_for('download_btn._make_files', id=btn._id, btn_cls=btn.__class__.__name__) }}";
            const evtSource = new EventSource(evtURL);
            evtSource.addEventListener('progress_report', function(e){
                console.log(e.data);
            });
            evtSource.addEventListener('download_ready', function(){
                const url = "{{ url_for('download_btn._download', id=btn._id, btn_cls=btn.__class__.__name__) }}";
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'text.txt';
                document.body.appendChild(a);
                a.click();
                evtSource.close();
                $("#{{ btn.progress_model_id }}").hide();
                $("#{{ btn.model_id }}").prop('disabled', false);  
            });
        });
    });
</script>