<script>
    /* Download button script

    The download process has three stages:
    1. Web form handling
    2. File creation
    3. Download
    */
    $(document).ready(function(){
        $("#{{ btn.btn_id }}").click(function(){
            console.log('Download started');
            $(this).prop('disabled', true);
            handle_form();
        });
    });

    function handle_form(){
        const form_url = "{{ url_for('download_btn.handle_form', **btn_kwargs) }}";
        $.post(form_url, $("{{ btn._form }}").serialize(), function(){
            create_files();
        });
    }

    function create_files(){
        /* Listen for server sent progress updates
        
        Updates may reset the progress bar, report progress, or indicate 
        that files are ready to download.
        */
        const evtURL = "{{ url_for('download_btn.create_files', **btn_kwargs) }}";
        const evtSource = new EventSource(evtURL);
        evtSource.addEventListener('reset', function(e){
            reset(event_args(e));
        })
        evtSource.addEventListener('progress_report', function(e){
            report_progress(event_args(e));
        });
        evtSource.addEventListener('transition_speed', function(e){
            transition_speed(event_args(e));
        })
        evtSource.addEventListener('download_ready', function(e){
            evtSource.close();
            download(event_args(e));
        });
    }

    function event_args(e){
        // Get event arguments
        var progress = $("#{{ btn.progress_id }}");
        var progress_bar = $("#{{ btn.progress_bar_id }}");
        var data = $.parseJSON(e.data);
        return {
            'progress': progress, 'progress_bar': progress_bar, 'data': data
        };
    }

    function transition_speed(e){
        // Update the progress bar transition speed
        e.progress_bar.css('transition', 'width '+e.data.speed);
    }

    function reset(e){
        // Reset the progress bar
        e.progress.html(e.data.html);
        show_bar(e.progress);
    }

    function report_progress(e){
        // Update the progress bar with a progress report
        $("#{{ btn.progress_text_id }}").text(e.data.text);
        show_bar(e.progress);
        e.progress_bar.width(e.data.pct_complete+"%");
    }

    function show_bar(progress){
        if (progress.is(":hidden")){
            progress.show();
        }
    }

    function download(e){
        // Download
        const url = "{{ url_for('download_btn.download', **btn_kwargs) }}";
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        document.body.appendChild(a);
        a.click();
        if (e.data.text != ''){
            report_progress(e);
        }
        e.progress.hide();
        $("#{{ btn.btn_id }}").prop('disabled', false);
        console.log('Download complete'); 
    }
</script>